# Colour
if ls --color > /dev/null 2>&1; then # gnu `ls`
  colour="--color"
else # macos `ls`
  colour="-G"
fi

# Redefine
alias ls="command ls ${colour}"
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias grep='grep --color=auto'

# Utilities
alias kickstart="sudo kickstart \
-activate \
-configure \
-allowAccessFor \
-allUsers \
-access -on \
-privs -all \
-clientopts -setvnclegacy -vnclegacy yes \
-restart -agent"

alias sshon="sudo systemsetup -setremotelogin on"
