/*
.DS_Store
!.gitignore
!.rubocop.yml
!.travis.yml
!Gemfile
!README.md
!.atom
.chef
!.services
!.ssh
!.vim
!.aliases
!.bash_profile
!.curlrc
!.dotfiles
!.functions
!.git-completion
!.gitconfig
!.gitignore_global
!.gitmessage
!.vimrc
!.lucario.terminal
!Microsoft.PowerShell_aliases.ps1
!Microsoft.PowerShell_functions.ps1
!Microsoft.PowerShell_profile.ps1