[user]
	email = chris.gerke@gmail.com
	name = Chris Gerke

[alias]

	aa= !git add -u && git add . && git status

	# contributors
	conts = shortlog --summary --numbered

	# credit an author on the latest commit
	credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f"

	# current state difference
	current = diff --patch-with-stat

	# diff given a revision
	dr = "!f() { git diff "$1"^.."$1"; }; f"

	# find a file
	f = "!git ls-files | grep -i"

	# find a string
	fs = grep -Ii

	# file history
	fh = log -u

	gbdd = !git push origin --delete $1

	# alias help
	h = "!git config -l | grep alias | cut -c 7-"

	# last commit difference
	last = diff --cached HEAD^

	# Push branch
	pb = push -u origin

	# Rebase
	## add the remote
	# git remote add upstream https://github.com/facebook/IT-CPE
	rb = !git fetch upstream && git checkout master && git reset --hard upstream/master
	## checkout branch
	# git rebase master
	# git push -f origin <BRANCH>

	# redo commit (but remember to "git add first")
	redo = commit --amend

	# fetch and merge
	sync = !git fetch origin && git merge origin/master

	## git remote add upstream https://github.com/facebook/IT-CPE
	sync-fork = !git checkout master && git fetch upstream && git pull upstream master

[core]
	excludesfile = ~/.gitignore_global
