"*":
  "activate-power-mode":
    particles:
      spawnCount:
        max: 5
        min: 2
      totalCount:
        max: 25
    screenShake:
      enabled: false
  core:
    projectHome: "/Users/cgerke/Google Drive/code"
  editor:
    fontSize: 12
    showInvisibles: true
  linter:
    showErrorTabLine: true
  "travis-ci-status": {}
  welcome:
    showOnStartup: false
